.information-cont{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    height: 90vh;
    background-image: url('../../assets/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.information-cont h2{
    color: white;
}
.vueltas{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tabla{
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 20%;
}
.tabla th, 
.tabla td {
    color: black;
    border: 1px solid #4f4b4b;
    background-color:rgba(255, 255, 255, 0.926);
    padding: 8px;
    text-align: left;
}